# Task 7: Basic Sales Summary using SQLite and Python

This notebook connects to a SQLite database, runs a SQL query to summarize product sales, and visualizes the results using matplotlib.

## 1. Import Required Libraries

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

## 2. Connect to SQLite Database

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect("sales_data.db")

## 3. Run SQL Query to Get Sales Summary

In [ ]:
query = '''
SELECT 
    product,
    SUM(quantity) AS total_quantity,
    SUM(quantity * price) AS revenue
FROM 
    sales
GROUP BY 
    product
'''
df = pd.read_sql_query(query, conn)

## 4. Display Results

In [ ]:
print(df)

## 5. Plot Revenue by Product

In [ ]:
df.plot(kind='bar', x='product', y='revenue', legend=False)
plt.title('Revenue by Product')
plt.xlabel('Product')
plt.ylabel('Revenue')
plt.tight_layout()
plt.show()

## 6. Close the Database Connection

In [ ]:
conn.close()